* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__hearderImage {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  width: 150px;
  object-fit: contain;
}