* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  background-color: white;
}

.app__hearderImage {
  padding: 20px;
  width: 150px;
  object-fit: contain;
}

.app__hearderLine {
  border-bottom: 1px solid lightgray;
}

.app__signup {
  display: flex;
  flex-direction: column;
}